<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>js,css,image</title>

    <link rel="stylesheet" href="/css/example.css">
</head>
<body>
    <h1>example</h1>

    <div class="container">
        <h1>Static</h1>
        <img src="/img/cats/cat1.jpg">
        <img src="/img/cats/cat2.jpg">
        <img src="/img/cats/cat3.jpg">
        <img src="/img/cats/cat4.jpg">
        <img src="/img/cats/cat5.jpg">

        <button id="btn">JS</button>
    </div>

    <script src="/js/example.js"></script>
</body>
</html>