<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Parameter</title>
</head>
<body>
    <h1>param_main</h1>

    <fieldset>
        <legend><h3>1.HttpServletRequest.getParameter("key")</h3></legend>
        <form action="/param/test1" method="post">
            name    : <input type="text" name="inputName"><br>
            age     : <input type="number" name="inputAge"><br>
            address : <input type="text" name="inputAddress"><br>
    
            <button>submit</button>
        </form>
    </fieldset>
    
</body>
</html>